<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>jcssx-oe-demo</display-name>
    <session-config>
        <session-timeout>
            45
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <security-constraint>
        <display-name>OrderEntryCloudDemo Customers Access</display-name>
        <web-resource-collection>
            <web-resource-name>OrderEntryCloudDemo Customers Access</web-resource-name>
            <description/>
            <url-pattern>/faces/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Customers</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>OrderEntryCloudDemo Administrators Access</display-name>
        <web-resource-collection>
            <web-resource-name>OrderEntryCloudDemo Administrators Access</web-resource-name>
            <description/>
            <url-pattern>/faces/*</url-pattern>
            <url-pattern>/faces/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admins</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Login Config for JCS (WebLogic) -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>default</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.xhtml</form-login-page>
            <form-error-page>/faces/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Login Config for JCS-SX -->
    <security-role>
        <role-name>Admins</role-name>
    </security-role>
    <security-role>
        <role-name>Customers</role-name>
    </security-role>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>My Jersey Application</display-name>
        <servlet-name>MyJerseyApp</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.oracle.cloud.demo.oe.rest.RestApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyJerseyApp</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    
    <ejb-local-ref>
        <ejb-ref-name>ProductInformationFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.oracle.cloud.demo.oe.sessions.ProductInformationFacade</local>
        <ejb-link>../jcssx-oe-demo-ejb-1.0-SNAPSHOT.jar#ProductInformationBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.oracle.cloud.demo.oe.sessions.CustomersFacade</local>
        <ejb-link>../jcssx-oe-demo-ejb-1.0-SNAPSHOT.jar#CustomersBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrdersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.oracle.cloud.demo.oe.sessions.OrdersFacade</local>
        <ejb-link>../jcssx-oe-demo-ejb-1.0-SNAPSHOT.jar#OrdersBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderItemsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.oracle.cloud.demo.oe.sessions.OrderItemsFacade</local>
        <ejb-link>../jcssx-oe-demo-ejb-1.0-SNAPSHOT.jar#OrderItemsBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CheckoutFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.oracle.cloud.demo.oe.sessions.CheckoutFacade</local>
        <ejb-link>../jcssx-oe-demo-ejb-1.0-SNAPSHOT.jar#CheckoutBean</ejb-link>
    </ejb-local-ref>


</web-app>
